/* Palette: 
white (background): #FFFAF3
tan (special background): #FFE2AF
yellow (outline): #FFC570
teal (text): #007979
*/

* {
    background-color: #FFFAF3;
    color: #007979;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body,
header,
.number-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    padding: 0;
    margin-bottom: 15px;
}

h1 {
    font-family: "Mochiy Pop P One", sans-serif;
    padding: 10px;
    margin: 5px;
}

h3 {
    padding: 5px;
    margin: 5px;
}

#language-section {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 4px 1px 4px;
    border: none;
    outline: 2px solid;
    border-radius: 3px;
    cursor: pointer;
    flex-shrink: 0;
}

.language:active {
    transform: translate(1px);
}

.language:hover {
    color: color-mix(in srgb, #007979 95%, #FFC570 25%);
    opacity: 75%;
}

.number-box {
    gap: 10px;
    margin: 20px;
}

#number-in-question {
    background-color: #FFE2AF;
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 48px;
    text-align: center;
    width: 80px;
    height: 80px;
    padding: 3px;
    border: 5px solid #FFC570;
    border-radius: 50%;
}

#input-area {
    font-family: "Mochiy Pop P One", sans-serif;
    width: 220px;
    height: 37px;
    padding: 5px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #FFC570;
    border-radius: 5px;
    resize: none;
}

#input-area:focus {
    /* outline: none; */
    outline: 2px solid #FFC570;
    border-color: #FFC570;
}

#notification-box {
    background-color: #FFE2AF;
    color: #007979;
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    border: 2px solid #FFC570;
    visibility: hidden;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .8em;
    margin-bottom: .25em;
}

/*tablet query*/
@media only screen and (min-width: 768px) {

    footer {
        flex-direction: row;
        margin-top: 1.25em;
        font-size: .9em;
    }

}

/*desktop query*/
@media only screen and (min-width: 992px) {
    footer {
        font-size: 1em;
    }

}